<h3 class="text-danger">
    Your Account is locked, please try again after some time or you may <a asp-action="ForgotPassword" asp-controller="Account">
        reset your password by clicking here
    </a>
</h3>